/*bookSwiper.php*/
.NewBookSwiper .swiper-slide img {
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
}
.NewBookSwiper .swiper-slide img:nth-child(2n) {
  width:32px;
  height:16px;
  object-fit:cover;
  margin:5px auto;
}
.NewBookSwiper .swiper-slide {
  width:105.5px;
}
.NewBookSwiper img.size-full,img.size-large {
  max-width:100%;
  height:auto !important;
}
.NewBookSwiper .swiper-horizontal>.swiper-scrollbar,.swiper-scrollbar.swiper-scrollbar-horizontal {
  margin-top:10px;
  position:relative;
  left:1%;
  bottom:0px;
  z-index:50;
  height:10px;
  width:98%;
}
.SwiperCard {
  opacity:1;
  transition:all 0.2s ease-in-out;
}
.SwiperCard:hover {
  opacity:0.7;
  transition:all 0.2s ease-in-out;
}
.NewBookTitle{
  font-size: 1.25em;
  color: var(--md-sys-color-on-secondary-light);
  margin-top: 0em;
  /* margin-left: -5px; */
  padding: 3px 10px;
  background-color: var(--md-sys-color-primary);
  border-radius: 4px;
  line-height: 20px;
  margin-bottom: 0px;
  border-bottom: 0px solid #f7e7ed;
}
/*swiper.php*/
.TopSwiper{
  margin-top: 30px;
}
.TopSwiper .swiper-pagination-bullet-active{
  background: var(--md-sys-color-surface-tint);
}
.TopSwiper .swiper-horizontal>.swiper-pagination-bullets, 
.TopSwiper .swiper-pagination-bullets.swiper-pagination-horizontal, 
.TopSwiper .swiper-pagination-custom, 
.TopSwiper .swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  margin-top: 10px;
  width: 100%;
}
.TopSwiper .swiper-slide {
  text-align:center;
  font-size:18px;
  background:var(--md-sys-color-on-secondary-light);
  /* Center slide text vertically */ display:-webkit-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  -webkit-justify-content:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center;
  border-radius: 8px !important;
}
.TopSwiper .swiper-slide img {
  display:block;
  width:480px;
  height:240px;
  object-fit:cover;
}
.TopSwiper .swiper-slide {
  width:480px;
  height:240px;
}
.TopSwiper .caption-wrap {
    line-height: 0px !important;
    height: 40px !important;
    border-radius: 0 0 9px 9px !important;
    font-size: 0.8em !important;
}
.TopSwiper .caption-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    color: var(--md-sys-color-on-secondary-light);
    opacity: 0.7;
    margin: 0;
    display: block;
    width: 100%;
    line-height: 1.4em;
}
.TopSwiper .caption-wrap > .caption {
  padding: 5px 10px;
    word-wrap: break-word;
    line-height: 15px;
    padding: 0px 0px 0px 0px !important;
    margin: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.TopSwiper .swiper-slide img {
    border-radius: 8px !important;
}

.TopSwiper {
    padding-bottom: 20px !important;
    font-size: 0.8em !important;
}
.TopSwiper .swiper-wrapper {

    height: 200px;
}
.TopSwiper {
    padding-left: 10% !important;
    padding-right: 10% !important;
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 2px 2px 2px);
}
@media (min-width: 768px){
.TopSwiper {
    padding-left: 10px !important;
    padding-right: 10px !important;
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 2px 2px 2px);
    margin-left: 20px;
}
}
.TopSwiper .swiper-slide a:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: “alpha( opacity=70 )”;
    transition: all 0.5s ease-in-out;
}
.TopSwiper .swiper-slide img {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/*newTitle.php*/
h3.new-top {
  font-size: 0.95em;
  color: var(--md-sys-color-on-secondary-light);
  margin-top: 0.4em;
  padding: 0.2em 0em 0em 0em;
  background-color: var(--md-sys-color-primary);
  /* border-radius: 6px; */
  line-height: 25px;
  border-bottom: 0px solid #f7e7ed;
  text-align: center;
  border-radius: 4px;
  margin: 0 5px 10px 5px;
}
.tagList .tag {
  border: none;
  padding: 3px 10px;
  background: var(--md-sys-color-secondary-light);
  float: left;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  font-size: 0.9em;
}
.tagList {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-bottom: 0px solid #ddd;
  width: 715px;
  font-size: 0.7em;
  margin-bottom: 10px;
}